body#gsr.hp.vasq{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hidden-class{
  visibility: hidden;
}

/*div[class^="gb_P"]{*/
.gb_P{
  font-weight: bold;
  -webkit-animation: colorchange 20s infinite alternate;
}

/*div[class^="gb_b"]{*/
.gb_b{
  font-weight: bold;
  -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0%  { color: #070707; }
  10% { color: #3c3d3d; }
  20% { color: #767777; }
  30% { color: #abadad; }
  40% { color: #d6d6d6; }
  50% { color: #f7f7f7; }
  60% { color: #d6d6d6; }
  70% { color: #abadad; }
  80% { color: #767777; }
  90% { color: #3c3d3d; }
  100% { color: #070707; }
}

#floating-container{
  position: fixed;
  display: inline-block;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

.unsplash-link-class {
  font-size: 10px;
  text-decoration: none;
  -webkit-animation: colorchange 20s infinite alternate;
}